* {
  box-sizing: border-box;
}

body {
  background-color: rgba(5, 5, 5, 0.98);
}
/*.add-new-activity-title {
  width: 100%;
}*/

.add-new-activity-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  width: 500px;
  height: 500px;
}

input {
  margin-bottom: 10px;
}

.add-activity-field {
  width: 90%;
  border-bottom: 1px solid gray;
  border-radius: 0;
  height: 50px;
}

.add-event-btn {
  width: 160px;
}
