* {
  box-sizing: border-box;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 275px;
  background-color: rgba(5, 5, 5, 0.98);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
  /*font-size: 55px;*/
  color: #EE00EE;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 40px;
}


.header-title {
 color: #EE00EE;
 font-size: 60px;
 /*padding-top: 50px;*/
 margin-top: 0;
 font-weight: bold;
 text-align: center;
 text-transform: uppercase;
}
