* {
  box-sizing: border-box;
}

.input-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.activity-label {
  margin-top: 10px;
}

select,
input {
  color: #9C9C9C;
  margin-right: 25px;
  margin-left: 15px;
  width: 400px;
  padding-left: 20px;
}

input,
button  {
  border-radius: 15px;
}

select,
input,
button {
  font-size: 18px;
  border: none;
  outline: none;
}

select {
  background-color: #fff;
}

button {
  height: 50px;
  width: 90px;
  color: #000;
  font-size:
}

button:hover {
  cursor: pointer;
}
